body {
    display: block;
    margin: 0px!  important;

/*header section CSS*/
.cheader {
padding: 50px 100px;
height: 488px;
text-align: center;
color: whitesmoke;
font-size: 30px;
}

h1 {
font-size: 80px;
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 120px;
}


.container1 {
    background-color: white;
    padding-bottom: 100px;
    width: 100%;
}

.newh {
    font-size: 60px;
    text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

.form1 {
    align-content: center;
    width: 83.5%;
    border-radius: 8px;
    background-color: #f2f2f2;
    padding: 60px;
  }

.formpadding  {
  margin: auto;
  width: 38%;
  border: 3px solid green;
  padding: 10px;
}

@media  (min-width: 1280px) and (max-width: 1440px) {
    .form1 {    
    width: 78.5%;
    }
}

@media  (max-width: 1280px) {
    .form1 {    
    width: 75.2%;
    }
}

}
